.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs__wrapper{
  margin: 20px;
  display: flex;
  align-items: center;
}
.search__input{
  width: 400px;
  height: 25px;
  font-size: 15px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}
.search__button{
  width: 100px;
  margin-left: 10px;
  height: 32px;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search__button:hover{
  background-color: rgb(119, 119, 119);
}
.weather__table {
  margin-top: 30px;
  width: 80%;
  border-collapse: collapse;
}
.weather__table thead {
  background-color: rgb(173, 173, 173);
  border-collapse: collapse;
}
.weather__table > thead th {
  height: 30px;
}
.weather__table tbody {
  border: 0.5px solid rgb(182, 182, 182);
}
.weather__table > tbody tr {
  height: 50px;
}
.weather__table > tbody tr {
  text-align: center;
  font-weight: 600;
}
.weather__table > tbody tr:first-child{
  text-transform: capitalize;
}
